//- CONNECTION FILES
mixin links(...files)
  each file in files
    link(rel="stylesheet" href=file)
mixin scripts(...files)
  each file in files
    script(src=file)

//- CURRENT PAGE
mixin pageTitle(tit)
  - activeMenu = tit
  - pojectName = (poject) ? ' | ' + poject : ''
  - title = tit[tit.length-1] + pojectName
  each item in menu_main
    if (item.val == tit[0])
      - pageClass = item.url.slice(0,item.url.lastIndexOf('.'));
      - bodyClasses.splice(0, 0, ['page--'+pageClass]);
+pageTitle(title)

//- MULTI MENU
mixin multiMenu(data, navСlass, dropdown)
  //- EXAMPLE: +multiMenu(menu_obj, 'class-menu','submenu')
  mixin multiSubmenu(data, navСlass, count)
    - count++
    ul(class=navСlass+'-submenu')
      each item in data
        li(class=navСlass+'-submenu__item', class={active: activeMenu[count] === item.val})
          a(href=item.url, class=navСlass+'-submenu__link')
            span= item.val
          if (item.submenu)
            div(class=navСlass+'__submenu')
              +multiSubmenu(item.submenu, navСlass, count)
  nav(class=navСlass)&attributes(attributes)
    ul(class=navСlass+'__list')
      - var count = 0
      each item in data
        - var itemClasses = [navСlass+'__item']
        if (item.submenu && dropdown)
          - itemClasses.push(itemClasses[0] + '_dropdown')
        li( class=itemClasses, class={active: activeMenu[count] === item.val} )
          a(href=item.url, class=navСlass+'__link')
            span= item.val
          if (item.submenu && dropdown)
            div(class=navСlass+'__submenu')
              +multiSubmenu(item.submenu, navСlass, count)
